.divbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    
    .t{
        color: white;
        margin: 30px;
        font-size: 70px;

    }
    
    .r{
        font-size: 30px;
        text-decoration: none;
        margin: 30px;
        color: white
    }
}