body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;

    header{
        display: flex;
        justify-content: center;
        width: 100%;
    
        .divbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            background-color: gray;
            width: 80%;
            border-radius: 20px;
            height: 100px;
            margin: 10px;
                .t{
                    color: white;
                    margin: 30px;
                    font-size: 70px;
        
                }
                .r{
                    font-size: 30px;
                    text-decoration: none;
                    margin: 30px;
                    color: white
                }
            }
    
    }

    main{
        display: flex;
        justify-content: center;
        height: 1100px;
        width: 80%;

        img {
            border-radius: 40px;
            margin-right: 40px;
            width: 600px;
            height: 600px;

        }
        .p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;  
            border-radius: 40px;
            width: 100%;
            background-color: gray;
            width: 600px;
            height: 600px;

                .f2 {
                    width: 100%;

                    .box{
                        height: 30px;
                        width: 40%;
                    }
                    
                }
                
                .ter {
                    color: white;
                    font-size: 20px;
                    padding: 20px;

                }
                .s {
                    display: flex;
                    justify-content: center;
                    padding: 20px;

                }    
            }
    }      
       
    footer{
        width: 80%;
        text-align: center;
        background-color: black;
        height: 50px;
            .d{
                color: white;
            }     
    }      
}

    
