body{
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: gray;
        color: white;
        font-size: 50px;
        padding-left: 50px;
        padding-right: 50px;
        width: 80%;
        height: 100px;
        border-radius: 30px;

        a{
            text-decoration: none;
            color: white;
            font-size: 40px;
        }

    }
    main{
        background-color: white;
        font-size: 40px;
        padding: 10px;
        width: 80%;
        margin: 10px;
        border-radius: 30px;

        nav{
            background-color: gray;
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            margin: 20px;
            border-radius: 15px;
            height: 70px;

            li{
                background-color: white;
                padding: 5px;
                border-radius: 10px;

                a{
                    text-decoration: none;
                    color: black;
                }
            }
            
        }
        div{
            display: flex;
            flex-direction: row;
            justify-content: center;

            .cont{
                display: flex;
                flex-direction: column;
                background-color: whitesmoke;
                width: 60%;
                margin: 10px;

                .tarjeta{
                    flex-direction: column;
                    align-content: center;
                    border: 5px;
                    padding: 10px;
                    margin: 10px;

                    img{
                        height: 600px;
                        border-radius: 30px;
                    }

                    a{
                        justify-content: center;
                        font-size: 60px;
                        

                    }

                }
            
            }
            .box{
                display: flex;
                justify-content: center;
                background-color: whitesmoke;
                position: sticky;
                overflow-y: scroll;
                top: 20px;
                width: 30%;
                height: 500px;
                margin: 20px;

                .enlr{
                    list-style: none;
                    text-decoration: none;
                    border-color: black;
                    padding: 0%;

                    li{
                        background-color: aquamarine;
                        justify-content: space-between;
                        margin: 20px;
                        border-radius: 15px; 

                        .li{
                            color: black;
                            text-decoration: none;   
                            margin: 5px;
                            
    
                        }
                    }
                }
            }
        }
    }
    
    footer{
        background-color: black;
        justify-content: center;
        text-align: center;
        color: white;
        width: 80%;
    }


}