body{
    background-color: rgb(255, 255, 255);

}

    .divbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: gray;
        height: 100px;
        margin: 10px;

    }
        .t{
            color: rgb(3, 78, 3);
            margin: 30px;
            font-size: 70px;

        }
        .r{
            font-size: 30px;
            text-decoration: none;
            margin: 30px;
            color: blue;
        }
    .navbar{
        display: flex;
        flex-direction: column;
    }
        .form{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: stretch;
            width: 100%;
        }
            .a{
                width: 100%;
                margin: 2px;
            }
            .btn1{
                background-color: gray;
                height: 1000px;
                width: 100%;
                border-radius: 30px;
            }
            .btn2{
                background-color: blue;
                height: 1000px;
                width: 100%;
                border-radius: 30px;
            }
            .btn3{
                background-color: beige;
                height: 1000px;
                width: 100%;
                border-radius: 30px;
            }
            .btn4{
                background-color: aqua;
                height: 1000px;
                width: 100%;
                border-radius: 30px;
            }
            .btn5{
                background-color: green;
                height: 1000px;
                width: 100%;
                border-radius: 30px;
            }
        .texto{
            display: flex;
            flex-direction: row;
            align-items: stretch;
            list-style: none;
            font-size: 50px;
            padding: 0%;
            margin: 20px;
            
        }
            li{
                width: 20%;
                text-align: center;
                margin: 2px;
                background-color: gray;

            }

    footer{
        display: flex;
        justify-content: center;
        background-color: black;
        height: 50px;
    }
        .d{
            color: white;
        }