body{
    background-image: url(../img/fondo-adp.webp);

}

    .divbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        margin: 10px;
        background-color: white;

    }
        .t{
            margin: 30px;
            font-size: 100px;

        }
        .r{
            font-size: 30px;
            text-decoration: none;
            margin: 30px;
            color: blue
        }