main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;


    nav {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: gray;
        color: white;
            .en{
                width: 100%;
                text-align: center;
                background-color: black;
                font-size: 50px;

            }

        }
    .con {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        width: 90%;
        height: 500px;
        background-color: gray;
        
            .c {
                border-radius: 10px;
                width: 40%;
                background-color: white;
                color: black;
                padding: 10px;
                margin: 10px;

            }
    }

}